<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário Animado</title>
</head>
<body>
  
  <section class="form-section">
    <div class="form-wrapper">
      <form [formGroup]="resetpassword" #f="ngForm" (ngSubmit)="updatepassword (f); f.reset()" name="signupForm">
        <div class="photo-info">
          <img src="https://media.istockphoto.com/vectors/change-password-linear-icon-password-reset-line-icon-circular-arrow-vector-id1321309032?k=20&m=1321309032&s=612x612&w=0&h=4YQMGC8f1BJ2oektIXDWmi_KQnSvLK9Zmn8HPOML7yw=" alt="">
          <h3>Reset your Password Account </h3>
        </div>
        <div class="input-block email">
          <input 
          type="password" formControlName="password"  required    placeholder="Password? "required
          />
        </div>

  
        <button type="submit"  class="btn-login">Reset Now</button>
      </form>
    </div>
  </section>

  <ul class="squares"></ul>
   
  <script >
    const btnLogin = document.querySelector('.btn-login');
const form = document.querySelector("form");

btnLogin.addEventListener("click", event => {
  event.preventDefault();

  const fields = [...document.querySelectorAll(".input-block input")]

  fields.forEach(field => {
    if (field.value === "") form.classList.add("validate-error")
  });

  const formError = document.querySelector(".validate-error");
  if (formError) {
    formError.addEventListener("animationend", (event) => {
      if (event.animationName === "nono") {
        formError.classList.remove("validate-error");
      }
    });
  } else {
    form.classList.add("form-hide");
  }
});

form.addEventListener("animationstart", event => {
  if (event.animationName === "down") {
    document.querySelector("body").style.overflow = "hidden"
  }
})

form.addEventListener("animationend", () => {
  if (event.animationName === "down")
    form.style.display = "none";
    document.querySelector("body").style.overflow = "none"

});

// Background squares
const ulSquares = document.querySelector("ul.squares")

for (let i = 0; i < 11; i++) {
  const li = document.createElement("li");

  const random = (min, max) => Math.random() * (max - min) + min

  const size = Math.floor(random(10, 120));
  const position = random(1, 99);
  const delay = random(5, 0.1);
  const duration = random(24, 12);

  li.style.width = `${size}px`
  li.style.height = `${size}px`
  li.style.bottom = `-${size}px`

  li.style.left = `${position}%`;

  li.style.animationDelay = `${delay}s`
  li.style.animationDuration = `${duration}s`

    opacity: 0;
    li.style.animationTimingFunction = `cubic-bezier(${Math.random()}, ${Math.random()}, ${Math.random()}, ${Math.random()}, ${Math.random()}, )`

  ulSquares.appendChild(li);

}
  </script>
</body>
</html>