
<app-employee-header></app-employee-header>
<app-employee-sidebar></app-employee-sidebar>
  
  <main role="main">
    
  <section class="panel important">
    <div style="text-align: center;"><br>
      <h3 style="color:rgb(2, 41, 2)" >{{employeedata.firstname}} {{employeedata.lastname}} Personal Informations</h3>

    </div>

    <br>
    <div class="row">
      <div class="col s12 m4">
        <a href="#" class="stats-card">
          <i class="fa fa-clock-o"></i>
          <span class="counter">{{employeedata.nbr_days}} Jours</span>
          <div class="title">in Blanace</div>
        </a>
      </div>
        <!-- Stats card -->
          <div class="col s12 m4">
            <a href="#" class="stats-card">
              <i class="fa fa-file-text-o"></i>
              <span class="counter">{{this.dataArray.accepted}}</span>
              <div class="title">Accepted Demandes</div>
            </a>
          </div>
          <div class="col s12 m4">
            <a href="#" class="stats-card">
              <i class="fa fa-file-text-o"></i>
              <span class="counter">{{this.dataArray.refused}}</span>
              <div class="title">Refused Demandes</div>
            </a>
          </div>
          <div class="col s12 m4">
            <a href="#" class="stats-card">
              <i class="fa fa-file-text-o"></i>
              <span class="counter">{{this.dataArray.encours}}</span>
              <div class="title">Encours Demandes</div>
            </a>
          </div>
        <!-- Stats card -->
          <div class="col s12 m4">
            <a href="#" class="stats-card">
              <i class="fa fa-file-text-o"></i>
              <span class="counter">{{this.dataArray.alldemande}}</span>
              <div class="title">All Demandes</div>
            </a>
          </div>
        <!-- //Stats card -->


    
    </div>
    <hr/>

    </section>
    

  
  </main>
  