
<app-employee-header></app-employee-header>
<app-employee-sidebar></app-employee-sidebar>
  
  <main role="main">
    
  <section class="panel important">

    <h1>Personal Statistic</h1>

    
    <div class="row">
    
        <!-- Stats card -->
          <div class="col s12 m4">
            <a href="#" class="stats-card">
              <i class="fa fa-user"></i>
              <span class="counter">0</span>
              <div class="title">Accepted Requests</div>
            </a>
          </div>

        <!-- Stats card -->
          <div class="col s12 m4">
            <a href="#" class="stats-card">
              <i class="fa fa-file-text-o"></i>
              <span class="counter">0</span>
              <div class="title">Requests</div>
            </a>
          </div>
        <!-- //Stats card -->


    
    </div>
    <hr/>

    </section>
    

  
  </main>
  