<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário Animado</title>
</head>
<body>
  
  <section class="form-section">
    <div class="form-wrapper">
        <form  (submit)="sendEmail($event)">
            <h1 style="text-align: center;">contact webmaster</h1>
            <br>
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
                        <label for="name">Your Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                        <label for="email">Your Email</label>
                    </div>
                </div>

                <div class="col-12">
                    <br>
                    <div class="form-floating">
                        <textarea class="form-control" name="message" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                        <label for="message">Message</label>
                    </div>
                </div>
                
                <div class="col-12">
                    <br>
                    <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                </div>
                <p> <a routerLink="/" class="span">go  Login ?</a></p>
            </div>
        </form>
    </div>
  </section>

  <ul class="squares"></ul>
   
  <script >
    const btnLogin = document.querySelector('.btn-login');
const form = document.querySelector("form");

btnLogin.addEventListener("click", event => {
  event.preventDefault();

  const fields = [...document.querySelectorAll(".input-block input")]

  fields.forEach(field => {
    if (field.value === "") form.classList.add("validate-error")
  });

  const formError = document.querySelector(".validate-error");
  if (formError) {
    formError.addEventListener("animationend", (event) => {
      if (event.animationName === "nono") {
        formError.classList.remove("validate-error");
      }
    });
  } else {
    form.classList.add("form-hide");
  }
});

form.addEventListener("animationstart", event => {
  if (event.animationName === "down") {
    document.querySelector("body").style.overflow = "hidden"
  }
})

form.addEventListener("animationend", () => {
  if (event.animationName === "down")
    form.style.display = "none";
    document.querySelector("body").style.overflow = "none"

});

// Background squares
const ulSquares = document.querySelector("ul.squares")

for (let i = 0; i < 11; i++) {
  const li = document.createElement("li");

  const random = (min, max) => Math.random() * (max - min) + min

  const size = Math.floor(random(10, 120));
  const position = random(1, 99);
  const delay = random(5, 0.1);
  const duration = random(24, 12);

  li.style.width = `${size}px`
  li.style.height = `${size}px`
  li.style.bottom = `-${size}px`

  li.style.left = `${position}%`;

  li.style.animationDelay = `${delay}s`
  li.style.animationDuration = `${duration}s`

    opacity: 0;
    li.style.animationTimingFunction = `cubic-bezier(${Math.random()}, ${Math.random()}, ${Math.random()}, ${Math.random()}, ${Math.random()}, )`

  ulSquares.appendChild(li);

}
  </script>
</body>
</html>