
<app-admin-header></app-admin-header>
<app-side-bar></app-side-bar>
  
  <main role="main">
    
  <section class="panel important">

    <h1>Com&Dev Statistic</h1>

    
    <div class="row">
    
        <!-- Stats card -->
          <div class="col s12 m4">
            <a routerLink="/dashboard-RH" class="stats-card">
              <i class="fa fa-user"></i>
              <span class="counter">{{this.dataArray.data[0]}}</span>
              <div class="title">Employees</div>
            </a>
          </div>

        <!-- Stats card -->
          <div class="col s12 m4">
            <a routerLink="/dashboard-RH" class="stats-card">
              <i class="fa fa-file-text-o"></i>
              <span class="counter">{{this.dataArray.data[1]}}</span>
              <div class="title">All Demandes</div>
            </a>
          </div>
          <div class="col s12 m4">
            <a routerLink="/dashboard-RH" class="stats-card">
              <i class="fa fa-file-text-o"></i>
              <span class="counter">{{this.dataArray.data[2]}}</span>
              <div class="title">Accepted Demandes</div>
            </a>
          </div>
          <div class="col s12 m4">
            <a routerLink="/dashboard-RH" class="stats-card">
              <i class="fa fa-file-text-o"></i>
              <span class="counter">{{this.dataArray.data[3]}}</span>
              <div class="title">Refused Demandes</div>
            </a>
          </div>
        <!-- //Stats card -->


    
    </div>
    <hr/>
    <div style="display: block" *ngIf="chartReady">
      <canvas mdbChart
        
        [chartType]="chartType"
        [datasets]="chartDatasets"
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
    </section>
    

  
  </main>
  