
<app-admin-header></app-admin-header>
<app-side-bar></app-side-bar>
  
  <main role="main">
    
  <section class="panel important">
    <div style="text-align: right;">
    <button class="addnew">Add New Employee</button>
  </div>
  <br>
    <div class="caption">Com&Dev  Employees DETAILS</div>	
    <div id="table">
      <div class="header-row row">
        <span class="cell"><a href="#">Picture<i class="fa fa-fw fa-sort"></i></a></span>
        <span class="cell"><a href="#">First Name<i class="fa fa-fw fa-sort"></i></a></span>
        <span class="cell primary"><a href="#">Last Name<i class="fa fa-fw fa-sort"></i></a></span>
        <span class="cell"><a href="#">Adress<i class="fa fa-fw fa-sort"></i></a></span>
        <span class="cell"><a href="#">Email<i class="fa fa-fw fa-sort"></i></a></span>
        <span class="cell"><a href="#">Manage</a></span>
      </div>
      <div class="row">
      <input type="radio" name="expand">
      
      <span class="cell primary" data-label="Vehicle"><img src="https://bootdey.com/img/Content/avatar/avatar7.png"  height="65" width="90"></span>
        <span class="cell primary" data-label="Vehicle">Mghirbi</span>
        <span class="cell" data-label="Exterior">Mohamed amine</span>
         <span class="cell" data-label="Interior">kalla sghira sousse</span>
        <span class="cell" data-label="Trans">test@gmail.com</span>
        <span class="cell" data-label="Trans">
          <button class="update">Update </button>&nbsp;
          <button class="delete">Delete </button>
        </span>
      </div>
            <div class="row">
      <input type="radio" name="expand">
      
      <span class="cell primary" data-label="Vehicle"><img src="https://bootdey.com/img/Content/avatar/avatar7.png"  height="65" width="90"></span>
        <span class="cell primary" data-label="Vehicle">Mghirbi</span>
        <span class="cell" data-label="Exterior">Mohamed amine</span>
         <span class="cell" data-label="Interior">kalla sghira sousse</span>
        <span class="cell" data-label="Trans">test@gmail.com</span>
        <span class="cell" data-label="Trans">
          <button class="update">Update </button>&nbsp;
          <button class="delete">Delete </button>
        </span>
      </div>

    </div>
    
    </section>
    

  
  </main>
  