

<app-admin-header></app-admin-header>
<app-side-bar></app-side-bar>
  
  <main role="main">
    
  <section class="panel important">
    <div style="text-align: right;">
        <button class="addnew" data-toggle="modal" data-target="#exampleModal1">Add New Employee</button>
      </div>
          <form
          class="card-header py-3" >
          <div class="input-group">
              <input type="text" name="role" class="form-control" [(ngModel)]="searchedKeyword"  placeholder="Search for..." >
            
          </div>
          </form>
    <table class="dataTable">
        <thead>
            <tr>
                <th><h6>Picture</h6></th>
                <th><h6>First Name</h6></th>
                <th><h6>Last Name</h6></th>
                <th><h6>Adress</h6></th>
                <th><h6>Email </h6></th>
                <th><h6>Account Confirmed</h6></th>
            
                <th><h6>update Employee</h6></th>
                <th><h6>Delete Employee</h6></th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataArray|paginate: { 
            itemsPerPage: itemsPerPage,
             currentPage: p 
            }| filter:searchedKeyword  ; index as i">              
              <td>
                    <img src="{{item.user_image_url}}" 
                    style="  border-radius: 50%;"
                     height="135" width="150">
                </td>
                <td>          
                    <h6 *ngIf="item.firstname && item.firstname!== 'null' ">{{item.firstname}}</h6>
                </td>
                <td>          
                    <h6 *ngIf="item.lastname && item.lastname!== 'null' ">{{item.lastname}}</h6>
                </td>

                <td>
                    <h6 *ngIf="item.adress && item.adress!== 'null' ">{{item.adress}}</h6>
                </td>
                <td>
                    <h6 *ngIf="item.email && item.email !== 'null' ">{{item.email}}</h6>
    
                </td>
                <td>
                    <button *ngIf="item.email_confirmed===null ||item.email_confirmed===false" class="btn btn-outline-danger btn-lg" > false </button>
                    <button *ngIf="item.email_confirmed===true "class="btn btn-outline-success btn-lg" > {{item.email_confirmed}} </button>

                </td>
                <td>
                    <button (click)="getdata(item.email,item.firstname,item.lastname,item.password,item.adress,item.image_url,item.id)"
                    data-toggle="modal" data-target="#exampleModal2" class="update">Update </button>&nbsp;
                </td>
                <td>
                  <h6>

                    <button   (click)="deleteemployee(item.id , i)" class="delete">Delete </button>
                  </h6>
                    
                </td>
               
      
            </tr>
     
        </tbody>
    </table>
    <div style="text-align:right;">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    </section>
    

  
  </main>
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add  New Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addemployee" #f="ngForm" (ngSubmit)="addnewemployee (f); f.reset()" > 
            <div class="form-group">
              <label for="exampleFormControlInput1">Email  </label>
              <input  type="text" name="email" [(ngModel)]="user.email" formControlName="email"  class="form-control"    required>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Password  </label>        
              <input type="password" class="form-control" [(ngModel)]="user.password" formControlName="password" name="password"    rows="3" required /> 
            </div> 
            <div class="form-group">
              <label for="exampleFormControlInput1">Role </label>
              <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="user.role" formControlName="role" name="role">
                <option selected="selected"> employee </option>
              </select><br>
            </div>
            
            
            <br>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Send Email Verification</button>
            </div>
          </form>
        </div>   
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update   Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="updateemployee" #f="ngForm" (ngSubmit)="updateempbloyee(f); f.reset()" > 
            <div class="form-group">
              <label  for="exampleFormControlInput1">Email  </label>
              <input  readonly style="cursor: not-allowed;" type="text" name="email" [(ngModel)]="dataemp.email" formControlName="email"  class="form-control"    required>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">firstname  </label>        
              <input type="text" class="form-control" [(ngModel)]="dataemp.firstname" formControlName="firstname" name="firstname"    rows="3" required /> 
            </div> 
            <div class="form-group">
              <label for="exampleFormControlTextarea1">LastName  </label>        
              <input type="text" class="form-control" [(ngModel)]="dataemp.lastname" formControlName="lastname" name="lastname"    rows="3" required /> 
            </div> 
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Password  </label>        
              <input type="password" class="form-control" [(ngModel)]="dataemp.password" formControlName="password" name="password"    rows="3" required /> 
            </div> 
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Adress  </label>        
              <input type="text" class="form-control" [(ngModel)]="dataemp.adress" formControlName="adress" name="adress"    rows="3" required /> 
            </div> 
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Picture  </label>        

              <input type="file" 
              (change)="fileChange($event)"  class="form-control"  formControlName="avatar"  [(ngModel)]="dataemp.avatar" ngModel rows="3"   /> 
              
            </div>

            
            <br>
            <div class="form-group">
                <button   class="btn btn-danger" type="submit">save</button>
            </div>
          </form>
        </div>   
      </div>
    </div>
  </div>