
<app-employee-header></app-employee-header>
<app-employee-sidebar></app-employee-sidebar>
  
  <main role="main">
    
  <section class="panel important">
	<div class="wrapper">
		<br>
		<h1>management of absences and paid leave</h1>
		<div style="text-align: right;">
			<button class="addnew" data-toggle="modal" data-target="#exampleModal1">Add New Demande</button>
		
		</div>
		<br>
		<table class="c-table">
		<thead class="c-table__header">
		  <tr>
			<th></th>
			<th class="c-table__col-label"><h4>Start Date</h4> </th>
			<th class="c-table__col-label"><h4>End Date</h4></th>
			<th class="c-table__col-label"><h4>Motif</h4></th>
			<th class="c-table__col-label"><h4>Status</h4></th>
			<th class="c-table__col-label"><h4>Manage</h4></th>
		  </tr>
		</thead>
		<tbody class="c-table__body">
		  <tr>
			<td>1</td>
			<td class="c-table__cell"><h4>🇦🇺 Melbourne</h4></td>
			<td class="c-table__cell"><h4>🇦🇺 Melbourne</h4></td>
			<td class="c-table__cell"><h4>🇦🇺 Melbourne</h4></td>
			<td class="c-table__cell"><h4>🇦🇹 Vienna</h4></td>
			<td class="c-table__cell"><h4>🇦🇹 Vienna</h4></td>
		  </tr>
		
		</tbody>
		</table>
		</div>  
		


    </section>
    

  
  </main>
  